body {
    font-family: Consolas;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    padding: 20px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    width: 200px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    font-family: Consolas;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover{
    color: #00abf0;
    text-decoration: underline;
}

.login-form-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.open-popup, .open-login-popup {
    padding: 10px 20px;
    background-color: transparent;
    color: blue;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    position: relative;
    overflow: hidden;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: #162938;
    font-size: 1.5em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 8px;
    cursor: pointer;
}

.close:hover{
    color: #00abf0;
}

.form-container {
    margin-top: 20px;
}

.form-container h2 {
    margin: 10px 0;
}

.form-container form {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-container textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.input-box {
    position: relative;
    margin: 15px 0;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 1px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #999;
    pointer-events: none;
    transition: 0.3s;
    background-color: white;
    padding: 0 5px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -10px;
    left: 1px;
    font-size: 12px;
    color: #007bff;
}

.remember-forgot-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
}

.remember-forgot-container label {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 15px;
}

.remember-forgot-container a {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    margin-top: 15px;
}

.form-container a:hover{
    text-decoration: underline;
}

.form-container button {
    font-family: Consolas;
    padding: 10px;
    background-color: #45a049;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}

.form-container button:hover {
    background-color: #28a745;
}

.register-link {
    margin-top: 20px;
    font-size: 14px;
}


.header-right {
    display: flex;
    align-items: center;
}

.header-right .button, .header-right .contact {
    text-decoration: none;
    font-family: Consolas;
    font-size: 18px;
    color: #fff;
    background-color: #45a049;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
}

.header-right .contact {
    background-color: transparent;
    color: #333;
    border: 1px solid #45a049;
}

.header-right .contact:hover, .header-right .button:hover {
    background-color: #28a745;
    color: #fff;
    border-color: #28a745;
    transform: scale(1.05);
    z-index: 2;
}

.hero {
    background: url('img/water.png') no-repeat center center/cover;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    mask-image: linear-gradient(to bottom, transparent, black 0%, black 95%, transparent)
}

.hero-content h1 {
    font-family:'Courier New', Courier, monospace;
    font-size: 3.2em;
    padding: 20px;
}

.features{
    padding: 50px 12%;
    font-size: 22px;
}

.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
}

.text-col{
    flex-basis: 50%;
    font-size: 2em;
    opacity: 0;
    transform: translateY(-50px);
    animation: slideDownFade 2s ease forwards;
}

@keyframes slideDownFade {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.text-col h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
}

.text-col p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col .left{
    display: block;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    mask-image: linear-gradient(to bottom, transparent, black 5%, black 95%, transparent);
    font-size: 2em;
    opacity: 0;
    transform: translateX(50px);
    animation: slideRightToLeftFade 2s ease forwards;
}

@keyframes slideRightToLeftFade {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.img-col .right{
    display: block;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    mask-image: linear-gradient(to bottom, transparent, black 5%, black 95%, transparent);
    font-size: 2em;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideLeftToRightFade 2s ease forwards;
}

@keyframes slideLeftToRightFade {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.features h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004d4d;
    padding: 20px;
    color: white;
}

.footer .logo{
    padding-left: 100px;
}

.links, .quicklinks, .follow-us {
    flex: 1;
    text-align: center;
}

.links ul, .quicklinks ul {
    list-style: none;
    padding: 0;
}

.links ul li, .quicklinks ul li {
    margin: 5px 0;
}

.links ul li a, .quicklinks ul li a{
    color: #fff;
    text-decoration: none;
}

.links ul li a:hover, .quicklinks ul li a:hover{
    color: #00abf0;
}

.follow-us h3 {
    padding-bottom: 40px;
    padding-left: 30px;
}

.follow-us .social-icons{
    position: relative;
    padding-left: 125px;
}

.follow-us .social-icons a i {
    font-size: 20px;
}

.social-icons{
    position: static;
    bottom: 50px;
    width: 170px;
    display: block;
    justify-content: space-between;
}

.social-icons a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent; 
    border: 2px solid #00abf0;
    border-radius: 30%;
    font-size: 20px;
    margin: 3px;
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
}

.social-icons a:hover{
    color: #00abf0;
    transform: scale(1.3);
    z-index: 2;
}